* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.active {
    padding-bottom: 7px;
    border-bottom: 3px solid #F1CDB3;
    color: #fff;
}


@import 'blocks/media';
@import 'blocks/header';
@import 'blocks/about';
@import 'blocks/pets';
@import 'blocks/slick';
@import 'blocks/help';
@import 'blocks/donation';
@import 'blocks/footer';