* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/start';
@import 'blocks/about';
@import 'blocks/pets';
@import 'blocks/slick';