.donation {
    background: #F6F6F6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 182px;
        padding-top: 90px;
        padding-bottom: 110px;
        gap: 30px;
    }
    &__title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        color: #545454;  
    }
    &__subtitle {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        color: #545454;
        margin-top: 20px;
    }
    &__card {
        display: flex;
        align-items: center;
        width: 320px;
        height: 45px;
        background: #F1CDB3;
        border-radius: 9px;
        margin-top: 20px;
        img {
            display: block;
            width: 30px;
            height: 25px;
            margin-left: 15px;
        }
        &-nmb {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            color: #545454;
            margin-left: 15px;
        }
    }
    &__descr {
        margin-top: 20px;
        font-family: 'Arial';
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #B2B2B2;
    }
}