.header {
    min-height: 908px;
    background: url(../../img/start-screen-background.png) center center/cover no-repeat;
    z-index: -1;
    padding: 0 10px;
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 60px;
        padding-top: 60px;
    }
    &__nav {
        display: flex;
        gap: 35px;
    }
    &__link {
        display: block;
        color: #CDCDCD;
        text-decoration: none;
    }
    &__btn {
        width: 207px;
        height: 52px;
        background: #F1CDB3;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    &__link2 {
        display: block;font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        text-decoration: none;       
    }
    &__title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color: #F1CDB3;
        letter-spacing: 0.06em;
    }
    &__title2 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        color: #FFFFFF;
    }
    &__subtitle {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #FFFFFF;
        margin-top: 10px;
        letter-spacing: 0.1em;
    }
    &__subtitle2 {
        padding-top: 40px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #CDCDCD;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    &__text {
        width: 460px;
    }
    &__img {
        display: flex;
        align-items: flex-end;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}