.start {
    &__content {
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
    }
    &__text {
        margin-top: 160px;
        max-width: 460px;
        display: block;
    }
    &__main {
        position: absolute;
        top: 0;
        width: 100%;
        max-height: 908px;
        z-index: -1;
    }
    &__img {
        height: 100%;
        img {
            height: 100%; 
            width: 100%;
            object-fit: cover; 
        }
    }
    &__header {
        h1 {
            max-width: 310px;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 44px;
            color: #fff;
        }
    }
    &__subheader {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #CDCDCD;
        margin-top: 40px;
        opacity: 0.8;
    }
    &__btn {
        margin-top: 40px;
        a {
            display: flex;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 50px;
            background: #F1CDB3;
            border-radius: 100px;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            color: #292929;
        }
    }
}